:root {
    --padding: 0.5rem;
}

.Equation {
    width: 100%;

    .equation_title {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0;
        }
    }

    .run_modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9500;

        display: flex;
        flex-direction: column;

        background-color: black;
    }

    .solution {}
}

.equation_listView {
    position: relative;

    padding: var(--padding);

    background-color: cadetblue;


    >h2.title {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        text-align: left;
    }

    .equation_string {
        font-size: 1.5rem;
    }

    .edit_button {
        position: absolute;
        top: 0;
        right: 0;

        height: 36px;
        width: 36px;

        margin-top: var(--padding);
        margin-right: var(--padding);
        padding: 0.5rem;
        border-radius: 50%;
        line-height: 0%;
    }

    .save_button {}
}

.equation_editView {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.97);

    .container {
        width: 100%;
        margin: 0 var(--padding);
        border: solid 1px black;

        button.save_button,
        button.edit_button,
        button.back_button {
            height: 36px;
            width: 36px;
            padding: 0;
            border-radius: 50%;
        }

        .new_title {}

        .add_piece_container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .piece_selection {}

            .new_piece_form {
                display: flex;
                padding: 1rem;

                label {
                    text-align: left;
                    display: block;
                }

                input {
                    width: 100%;
                }

                .constant_and_variable_fields {
                    display: flex;
                    gap: 1rem;

                    .new_name {}

                    .new_value {}
                }
            }
        }
    }
}

/* .add_piece_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    text-align: left;
} */

.main_buttons_container {
    float: right;
}

.draggable_container {
    height: fit-content;
    padding: 0.5rem 0;

    overflow-x: scroll;

    background-color: aliceblue;
}

.equation_piece {
    height: 100%;

    .equation_piece_name {
        /* height: 52%; */
        font-size: 0.75rem;
    }

    .equation_piece_value {
        font-size: 1.5rem;
    }
}

.equation_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    border: 1px solid brown;
}

.expression_container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

    padding: 1rem;

    border: 1px solid rosybrown;
}

.expression_container::before {
    content: '(';
    font-size: 5rem;
    /* margin-top: 1.5rem; */
}

.expression_container::after {
    content: ')';
    font-size: 5rem;
    /* margin-top: 1.5rem; */
}

.part_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* border: 1px solid rgba(0, 255, 255, 0.119); */
    border-radius: 5px;
    background-color: black;

    padding: 0.5rem;
    margin: 0 0.5rem;

    .name {
        font-size: 0.75rem;
    }

    .value {
        font-size: 1.5rem;
    }

    .buttons {
        /* display: flex;
		flex-direction: row;
		color: red; */

        .button {
            padding: 1rem 0.5rem;
            text-align: center;
            line-height: 0;
        }
    }
}