#root {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

.no-scroll {
    overflow: hidden;
}

.curr-equation-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.curr-equation-piece {
    display: flex;
    flex-direction: column;

    .curr-equation-value {
        height: 3rem;
        width: 3rem;
        font-size: 2rem;
        text-align: center;
    }

    .curr-equation-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        >button {
            display: block;
            height: 15px;
            width: 15px;
            font-size: 1rem;
            padding: 0;
        }
    }
}

.list-of-equations {
    li {
        list-style-type: none;
    }
}

.drag-drop-area {
    --height: 50px;
    display: flex;
    gap: 0.1rem;

    /* height: var(--height); */
}

.drop-location::before {
    content: '';
    display: block;
    background-color: pink;
    outline: red solid 2px;
}

.droppable {
    list-style-type: none;

    display: inline-flex;
    flex-direction: row;
    gap: 1px;
    justify-content: center;

    min-height: 100px;
    min-width: 500px;
    padding: 0;

    color: black;
    background-color: aqua;
    border: 1px solid black;
}

.draggable {

    height: 100%;
    min-width: 50px;
    /* min-height: var(--height);
	width: 50px; */
    /* width: fit-content; */

    background-color: coral;
    border-radius: 5px;
}

.display-pieces {
    display: flex;
    flex-direction: row;
}